.grid-container {
  display: grid;
  grid-template-columns: 1250px ;
  grid-template-rows: 630px 630px 1750px 630px 930px 630px 630px;
  background-color: #2196F3;
  padding: 10px;
  grid-gap: 20px;
  grid-row-gap: 100px;
}

.grid-container > div {
  background-color: white;
  text-align: center;
  font-family: arial;
  padding: 20px 0;
  font-size: 20px;
}
a
{
	/*display: block;*/
	/*font-weight:bold;*/
	font-family: arial;
  color: #ffffff;
  padding: 8px 16px;
  text-decoration: none;
}
/*#navbar
{
	position: fixed;
	background-color: white;
}*/
#logo
{
	align-items: start;
	font-family: arial;
}
#logo1
{
	padding-left: 200px;
}
#logo
{
	padding-left: 100px;
}
.item1
{
	background-image: url("../image/home.jpg") ;
	background-repeat: no-repeat;
  background-size: 1250px 630px;
}
#homep
{
	padding-left: 311px;
	padding-right: 300px;
}
#homeh1
{
	margin-top: 100px;
  padding-left: 374px;
  padding-right: 400px;
}
#getstart
{
	margin-top: 50px;
	height: 45px;
	width: 150px;
	border:none;
	border-radius: 50px;
	background-color: #ff026b;
	font-weight: bold;
	color: white;
}
#getstart:hover { 
  background-color: white;
  color: #ff026b;
}
#item2
{
	background-image: url("../image/about.jpg") ;
	background-repeat: no-repeat;
  background-size: 1100px 630px;
   background-position: center;
}
#about_div
{
	font-size: 18px;
	margin-top: 300px;
	margin-left: 550px;
	background-color: #ff026b;
	color: white;
	font-family: arial;
	height: 400px;
	width:400px;
}
#readmore
{
	margin-top: 50px;
	margin-right: 233px;
	height: 50px;
	width: 100px;
	border:none;
	border-radius: 50px;
	background-color: #7470b2;
	font-weight: bold;
	color: white;
}
#ttext
{
	color: #ff026b;
}
#team_text
{
	margin-right: 774px;
	text-align: left;
	margin-left: 70px;
}
#team_text > p
{
	color: gray;
	font-family: arial;
	text-align: left;
}
.grid-container1 {
  display: grid;
  grid-template-columns: 260px 260px 260px 260px ;
  grid-template-rows: 350px 350px;
  justify-content: center;
  grid-gap: 40px;
  /*grid-row-gap: 100px;*/
}
#t2{
	background-color: #d1cfcf;
	font-family:arial;
	/*color:#726f6f;*/
	}
	.grid-container1 > h4{
		font-weight: bold;
		color: black;
	}
	#tp
	{
		color:#726f6f;
		font-size: 15px;
	}
	#t1
	{
		margin-bottom: 0px;
	}
#image{
		height: 260px;
		width: 260px;

	}
#marquee{
	height: 100px;
	width: 550px;
}
#mm
{
	height: 350px;
	width: 600px;
}
#pre_next
{
	height: 70px;
	width: 150px;
	border:none;
	border-radius: 5px;
	background-color: #ff026b;
	font-weight: bold;
	font-family: arial;
	color: white;
	font-size: 15px;
	position: relative;
  top: -40px;
}
#rtext
{
  font-size: 18px;
  margin-left: 604px;
  /*background-color: #ff026b;*/
  font-family: arial;
  height: 400px;
  width: 460px;
  text-align: left;
  position: relative;
  top: -100px;
}
#th2
{
	color: #ff026b;
	font-weight: bold;
	font-family: arial;
	font-size: 50px;
}
#pt
{
	color:#726f6f;
	font-size: 17px;
}
#readmore1
{
	margin-top: 50px;
	margin-right: 233px;
	height: 50px;
	width: 100px;
	border:none;
	border-radius: 50px;
	background-color: #ff026b;
	font-weight: bold;
	color: white;
}
#approch
{
	display: grid;
  grid-template-columns: 350px 350px 350px ;
  grid-template-rows: 200px;
  justify-content: center;
  grid-gap: 20px;
}
#approch > div{
	/*background-color: gray;*/
	text-align: left;
	font-family: arial;
}
#app
{
	color: #ff026b;
	font-family: arial;
	margin-right: 829px;
	font-size: 40px;
	font-weight: bold;
}
#ah
{
	color:#ff026b;
	/*font-size: 17px;*/
}
#ap
{
	color:#726f6f;
	font-size: 17px;
}
#item4
{
	display: grid;
  grid-template-columns: 350px 350px 350px ;
  grid-template-rows: 200px 200px;
  justify-content: center;
  grid-gap: 20px;
}
#item4 > div
{
	text-align: left;
	color:#726f6f;
	font-size: 17px;
}
#oh
{
	color: #ff026b;
}
#services_image
{
	height: 40px;
	width: 40px;
	float: left;
	text-align: left;
}
#Servicesp
{
	margin-left: 65px;
}
#Servicesb
{
	margin-left: 28px;
}
#learn
{
	color: #ff026b;
	margin-left: 65px;
}
#item5p
{
	color:#726f6f;
    font-size: 24px;
    font-style: italic;
    font-family: arial;
    margin-left: 210px;
    margin-right: 210px;
}
#person
{
	float: center;
	border-radius: 50px;
	height: 50px;
	width: 50px;
}
#name
{
	position: relative;
    color: #726f6f;
    top: -16px;
    left: 20px;
}
#flexcontainor
{
	display: flex;
	    margin-left: 50px;
}
#flexcontainor > div
{
	margin: 10px;
}
#marquee1{
	display: grid;
	grid-template-columns: 300px 300px;
	grid-template-rows: 100px 400px;
	height: 300px;
	width: 750px;

}
#marquee2{
	height: 250px;
	width: 400px;
}
#mm2
{
	height: 250px;
	width: 400px;
}
#pre_next2
{
	height: 70px;
	width: 150px;
	border:none;
	border-radius: 5px;
	background-color: #ff026b;
	font-weight: bold;
	font-family: arial;
	color: white;
	font-size: 15px;
	position: relative;
  	top: -40px;
}
#textp
{
	margin-left: 65px;
	text-align: left;
}
#textb
{
	margin-left: 28px;
	text-align: left;
}
#learn1
{
	color: #ff026b;
	margin-left: 65px;
}
#Consulting
{
	color: #ff026b;
}
#mitem
{
	grid-column: 1 / span 2;
}
#text_image
{
	height: 35px;
	width: 35px;
	
}